/* Bail.css */

.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.image-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; 
}

.image-button-group img {
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.image-container {
  margin-top: 1rem;
  text-align: center;
}

.image-container img {
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}
